.center-screen
{
    position: absolute;
    top:50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.center-screen-horizontal
{
    position: absolute;
    left: 50%;

    transform: translate(-50%, 0);
}

.center
{
    text-align: center;
}


.radio-control
{
    margin-bottom: 1em;
}

.is-maxed
{
    max-height: 200px;
}

.navbar-item img
{
    max-height: 55px !important;
}