.navbar-item img
{
    max-height: 55px !important;
}

.menu
{
    font-size: 1.2rem;
}

.menu-container
{
    transition: all 1s;
}

.hide-menu
{
    width: 0px !important;
    opacity: 0 !important;
}

.hide-menu .menu
{
    display: none;
}

.navbar-brand img
{
    margin-right: 20px;
}

.container.content img
{
    cursor: pointer;
}

.token.number
{
    align-items: left;
    background-color: transparent;
    border-radius: 0px;
    display: inline;
    justify-content: left;
    margin-right:0rem;
    min-width: 0em;
    padding: 0rem 0rem;
    text-align: left;
    vertical-align: top;
}

.cookie
{
    position: fixed;

    bottom: 0;
    left: 50%;
    
    transform: translate(-50%,0);

    width: 500px;
    height: auto;

    z-index: 999;
}

.back-to-top
{
    position: fixed;

    bottom: 3rem;
    right: 3rem; 
    z-index: 999;

    transition: opacity 1s;
}

.back-to-top.hide
{
    opacity: 0;
}

.MathJax_Display
{
    overflow-y: hidden;
    overflow-x: auto;

    max-width: 100%;
}

@media screen and (max-width: 768px)
{
    .MathJax_Display
    {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

.index
{
    font-size: 1rem;
    background: #ecf0f1;
    padding: 2rem;
    float: right;
    margin: 1rem 0rem 1rem 3rem;
}