$codetext :  #ffffff;
$function-title :  rgb(217, 175, 108);
$class-title: rgb(169, 183, 198);
$keyword: rgb(89, 124, 194);
$string:  rgb(128, 125, 110);
$comment: rgb(121, 109, 84);

code
{
    color: $codetext !important;
}

.hljs-title
{
    font-weight: bold;
}

.hljs-class .hljs-title
{
    color: $class-title !important;
    font-weight: bold;
}

.hljs-function .hljs-title
{
    color: $function-title !important;
    font-weight: bold;
}

.hljs-keyword
{
    color: $keyword;
}

.hljs-string
{
    color: $string;
}

.hljs-comment
{
    color: $string;
}