<!DOCTYPE html>
<html>
    <head>
        <title>EasyWiki: {{title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="css/{{theme}}.css" rel="Stylesheet" type="text/css">
        <link href="css/modifiers.css" rel="Stylesheet" type="text/css">
        <link href="css/body.css" rel="Stylesheet" type="text/css">

        <link rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    </head>
    <body>