<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">    
        <a class="navbar-item" href="/">
            {{{logo}}}
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-start">
            {{{navbar}}}
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item is-hidden-tablet-only is-hidden-mobile">
                <div class="control has-icons-left has-icons-right search-bar">
                    <input class="input" type="text" placeholder="Search">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="box search-results is-hidden is-hidden-tablet-only is-hidden-mobile">
    <table class="table is-striped is-hoverable is-fullwidth">
        <tr>
            <td class="result">
                <p class="has-text-weight-bold is-size-5">/test/all</p>
                <p>Latex</p>
            </td>
        </tr>
        <tr>
            <td class="result">
                <p class="has-text-weight-bold is-size-5">/test/latex</p>
                <p>Latex</p>
            </td>
        </tr>
        <tr>
            <td class="result">
                <p class="has-text-weight-bold is-size-5">/test/latex</p>
                <p>Latex</p>
            </td>
        </tr>
    </table>
</div>

<div class="cookie message is-hidden" id="cookie-message">
    <div class="message-header">
        <p>{{translation.CookieNotice.title}}</p>
    </div>
    <div class="message-body">
        {{translation.CookieNotice.message}}
        <hr>
        <div class="level">
            <div class="level-left">
                <p class="level-item"><a class="button is-info" href="{{translation.CookieNotice.link}}">{{translation.CookieNotice.readmore}}</a></p>
            </div>
            <div class="level-right">
                <p class="level-item"><a id="accept" class="button is-success">{{translation.CookieNotice.accept}}</a></p>
            </div>
        </div>      
    </div>
</div>

<div class="back-to-top hide">
    <button class="button is-rounded is-primary">
        <i class="fas fa-sort-up"></i>
        <span id="label">{{translation.BackToTop}}</span>
        <i class="fas fa-sort-up"></i>
    </button>
</div>

<section class="section">
    <div class="is-fluid columns">
        <div class="column is-2 is-hidden-tablet-only is-hidden-mobile">
            {{{menu}}}
        </div>
        <div class="column">

