@charset "utf-8";


@import "../../node_modules/bulmaswatch/lux/variables";
$link: #7f7ffb;
$link-hover: darken($link, 10);
$link-focus: darken($link, 10);
$link-active: darken($link, 10);
$link-focus-border: $grey-light;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-extensions/src/sass/index.sass";
@import "../../node_modules/bulmaswatch/lux/overrides";

h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
    letter-spacing: 3px;
}

footer.footer
{
    background: $dark !important;
    color: $white;
}